/* DEFAULTS */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after { box-sizing: inherit; }

:root {
    --bg-color: #121212;
    --font-color: #f0f0f0;
    --highlight-color: #008a6e;
}

body {
    margin: auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font-color);
    line-height: 1.5;
    background-color: var(--bg-color);
    background-image: url(../images/noise.png);
}

h1 {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    font-size: 3.5rem;
}

h2 {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

a {
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    color: var(--font-color);
    text-decoration: none;
}

@media (max-width: 1280px) {
    .container {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

